<!doctype html>
<html lang="en-US">
<!--
    Jinja
-->
<title>SimpText</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
<div class="page">
  <h1>SimpText</h1>
  <div class="metanav">
    {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
    {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
  </div>

  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }} </div>
  {% endfor %}

  <!--
      jQuery for Ajax
    -->
  <!--  
  <script type=text/javascript src="{{
   url_for('static', filename='jquery.js')}}"></script>

  <script type=text/javascript>
    $SCRIPT_ROOT= {{request.script_root|tojson|safe}};
  </script>
  -->
  {% block body %}
  {% endblock %}
</div>
