<!doctype html>
<html lang="en-US">
<!--
    Jinja

<script type="text/javascript">
$(function(){
$('button').click(function(){
    $('div').attr('contenteditable','true');
});
});
</script>
-->
<title>SimpText</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
<div class="page">
  <h1>SimpText</h1>
  <div class="metanav">
    {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
    {% else %}
    <!--
    <a  href="{{ url_for('show_entries') }}">home</a>
    <a  href="{{ url_for('setting') }}">setting</a>
    -->
    <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}

  </div>

  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }} </div>
  {% endfor %}

<!--
      jQuery for Ajax
-->

<!--  
<script type=text/javascript src="{{
   url_for('static', filename='reverse.js')}}">
</script>  
-->


<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>

<script type=text/javascript>
    $SCRIPT_ROOT= {{request.script_root|tojson|safe}};
</script>

<!--
<script type=text/javascript src="{{
   url_for('static', filename='sortable.js')}}">
</script>
-->

<!--
<script src="jquery.sortable.js"></script>
-->
<!--
<script src="/static/js/app.js"</script>

<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
-->

  {% block body %}
  {% endblock %}
</div>
