
<li id="merge-s1">  {# TODO: update the bad solution #}
   {% for item in s1_output %} 
        {% if item is mapping %} {# not change #}
            {% for key, value in item.iteritems() %}
              {% if value|length == 1 %}
                {% if sdefinition|length > 0 %}
                   {% for skey, svalue in sdefinition.iteritems() %}
                         {% if skey == key %}
                           <span class="tooltip"><b>{{ key |safe }}</b> 
                             <span class="tooltiptext">{{ svalue |safe}}</span>
                           </span>
                         {% endif %} 
                    {% endfor %}
                {% endif %}
              {% else %}
                <select>
                  {% for v in value %}
                     <option value={{ v }} >{{ v |safe}} </option>
                  {% endfor %}
                </select>
              {% endif %}
           {% endfor %}

        {% else %}
           {{ item |safe }}
              
        {% endif %}

   {% endfor %}  
</li>

<li id="merge-s2">  {# TODO: update the bad solution #}
   {% for item in s2_output %} 
        {% if item is mapping %} {# not change #}
            {% for key, value in item.iteritems() %}
              {% if value|length == 1 %}
                {% if sdefinition|length > 0 %}
                   {% for skey, svalue in sdefinition.iteritems() %}
                         {% if skey == key %}
                           <span class="tooltip"><b>{{ key |safe }}</b> 
                             <span class="tooltiptext">{{ svalue |safe}}</span>
                           </span>
                         {% endif %} 
                  {% endfor %}
                {% endif %}
              {% else %}
                <select>
                  {% for v in value %}
                     <option value={{ v }} >{{ v |safe}} </option>
                  {% endfor %}
                </select>
              {% endif %}
           {% endfor %}

        {% else %}
           {{ item |safe }}

            {% if item == "." %}  {# is a sentence? #}     
               <input type='button' id="undo-{{cnt}}" value='Merge'/>
            {% endif %}
              
           {% endif %}

   {% endfor %}  
</li>


<li id="merge-s">  {# TODO: update the bad solution #}
   {% for item in s_outputs %} 
        {% if item is mapping %} {# not change #}
            {% for key, value in item.iteritems() %}
              {% if value|length == 1 %}
                {% if sdefinition|length > 0 %}
                   {% for skey, svalue in sdefinition.iteritems() %}
                         {% if skey == key %}
                           <span class="tooltip"><b>{{ key |safe }}</b> 
                             <span class="tooltiptext">{{ svalue |safe}}</span>
                           </span>
                         {% endif %} 
                       {% endfor %}
                {% endif %}
              {% else %}
                <select>
                  {% for v in value %}
                     <option value={{ v }} >{{ v |safe}} </option>
                  {% endfor %}
                </select>
              {% endif %}
           {% endfor %}

        {% else %}
           {{ item |safe }}
              
        {% endif %}

   {% endfor %}  
</li>