{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('submit_words') }}" autocomplete="off" method="POST" class=entries ">
      <dl>
     <br/>
     <dt> The words in this level :
     <br/> 
     <br/>
     {% if error %}
     <li><em>{{ error }}</em>
     <li>

     {% else %} 

       <!--
       {% set index = 1 %}
       {% for word in words %} 
           <td>{{ word |safe }}</td>

           {% if index % 1 == 0 %}
              <br/>
          {% endif %}

           {% set index = index + 1 %}        
       {% endfor %}
       -->
       <dd><textarea name=words rows=50 cols=75>{{ words|safe}}</textarea> 

        <br/>
        <dd><input type=submit value=submit>
      </dl>
      {% endif %} 

</form>

<!--
{% include 'footer.html' %}
-->

{% endblock %}