{% extends "layout.html" %}
{% block body %}

{% if session.logged_in %}
    <form action="{{ url_for('setting') }}" method=post class=add-entry>
      
      <dl>
        <dt>Input:
        <dd><textarea name=wordinput rows=3 cols=40></textarea>

        <br/>
        <br/>
        <dt>{{ form.wordlevel.label }}  
        <dd> {{ form.wordlevel }}

        <br/>
        <br/>
        <dt>{{ form.algs.label }}    
        <dd>{{ form.algs}}

        <br/>
        <dd>{{ form.submit }}
      </dl>


    </form>
{% endif %}

{% include 'footer.html' %}

{% endblock %}