{% extends "layout.html" %}
{% block body %}

{% if session.logged_in %}
    <form action="{{ url_for('setting') }}" method=post class=add-entry>
      
      <dl>
        <dt>The wordlist:
        <dd><textarea name=words rows=3 cols=35></textarea>
        {{ form.edblist.label }} {{ form.edblist }}

        <br/>
        <br/>
        <dt>{{ form.algs.label }}    
        <dd>{{ form.algs}}

        <br/>
        <dd><input type=submit value=Submit>

      </dl>

    </form>
{% endif %}

{% include 'footer.html' %}

{% endblock %}