{% extends "layout.html" %}
{% block body %}

<script type=text/javascript>


$(function() {
  //var lastInput = {{ entries | tojson }};
  //var merge = document.getElementById('merge').innerHTML;
  document.getElementById('merge-s1').style.visibility = "hidden";
  document.getElementById('merge-s2').style.visibility = "hidden";
  document.getElementById('merge-s').style.visibility = "hidden";

  merge6 = document.getElementById('merge-s').innerHTML;
  //console.log("merge6_1")
  //console.log(merge6)

    //var lastInput = {{ entries | tojson }};
  //var merge = document.getElementById('merge').innerHTML;
  //document.getElementById('merge-s1').style.visibility = "hidden";
  //document.getElementById('merge-s2').style.visibility = "hidden";
  //document.getElementById('merge-s').style.visibility = "hidden";

  $('#undo-2').click(function(){
    //var _lastSent = document.getElementById("reverse-1").innerHTML;
    //var lastSent = _lastSent.replace(/^\s*<br\s*\/?>|<br\s*\/?>\s*$/g,'');
    //console.log(lastSent)
    //var merge2 = lastSent + document.getElementById("reverse-2").innerHTML;
    //console.log(merge2)
    //document.getElementById("reverse-1").innerHTML = '';
    //the 2nd sent is the child of the s1 or s2?
    var merge2 = document.getElementById('merge-s1').innerHTML;
    $('#reverse-1').remove();
    document.getElementById("reverse-2").innerHTML = merge2;

    //document.getElementById('undo-2').style.visibility='hidden';
    $('#undo-2').remove();

  });

  $('#undo-4').click(function(){
    //var _lastSent = document.getElementById("reverse-2").innerHTML;
    //var lastSent = _lastSent.replace(/^\s*<br\s*\/?>|<br\s*\/?>\s*$/g,'');
    //console.log(lastSent)
    //var merge3 = lastSent + document.getElementById("reverse-3").innerHTML;
    //document.getElementById("reverse-2").innerHTML = '';
    
    var merge3 = document.getElementById('merge-s2').innerHTML; 
    document.getElementById("reverse-4").innerHTML = merge3;

    //document.getElementById('undo-3').style.visibility='hidden';  
    $('#undo-3').remove();
  });

  $('#undo-5').click(function(){  // s2 doesn't have the children
    //var _lastSent = document.getElementById("reverse-3").innerHTML;
    //var lastSent = _lastSent.replace(/^\s*<br\s*\/?>|<br\s*\/?>\s*$/g,'');
    //console.log(lastSent)
    //var merge4 = lastSent + document.getElementById("reverse-4").innerHTML;

    //var merge6 = document.getElementById('merge-s').innerHTML; 
    //console.log("merge6_2");
    //console.log(merge6);
    document.getElementById("reverse-5").innerHTML = merge6;

    //document.getElementById('undo-4').style.visibility='hidden';
    $('#reverse-1').remove();  // remove s1
    $('#reverse-2').remove();  // remove s1
    $('#undo-5').remove();
  }); 

  $('#undo-6').click(function(){  // s2 has the children
    //var _lastSent = document.getElementById("reverse-3").innerHTML;
    //var lastSent = _lastSent.replace(/^\s*<br\s*\/?>|<br\s*\/?>\s*$/g,'');
    //console.log(lastSent)
    //var merge4 = lastSent + document.getElementById("reverse-4").innerHTML;

    var merge4 = document.getElementById('merge-s2').innerHTML; 
    //console.log(merge4)
    document.getElementById("reverse-6").innerHTML = merge4;

    //document.getElementById('undo-4').style.visibility='hidden';
    $('#reverse-5').remove();
    //$('#reverse-6').remove();
    //$('#undo-5').remove();
    $('#undo-6').remove();

       //rollback from S2 to S
       $('#undo-5').click(function(){  // s2 doesn't have the children
       //var _lastSent = document.getElementById("reverse-3").innerHTML;
       //var lastSent = _lastSent.replace(/^\s*<br\s*\/?>|<br\s*\/?>\s*$/g,'');
       //console.log(lastSent)
       //var merge4 = lastSent + document.getElementById("reverse-4").innerHTML;

      // var merge6 = document.getElementById('merge-s').innerHTML; 
       //console.log("merge6_3");
       //console.log(merge6);
       document.getElementById("reverse-6").innerHTML = merge6 ;

       //document.getElementById('undo-4').style.visibility='hidden';
       $('#reverse-1').remove();  // remove s1
       $('#reverse-2').remove();  // remove s1
       $('#undo-5').remove();
     });

  }); 

  //document.getElementById("wordinput").value = localStorage.getItem("words");
  //$('#wordinput').change(function() { 
  //  var words = document.getElementById("wordinput").value;
    //console.log(words)
  //  if (words == "") {
  //      alert("Please enter words in first!");
  //     return false;
  //  }
  //  if (words != "") {
  //  localStorage.setItem("words", words);
    //alert("Your words has been saved!");
  //  }
   // location.reload();
    //return false;
    //return true;
  //});

    // get the selected value
      var selectedItem = sessionStorage.getItem("wordlevel");
      console.log(selectedItem);
      if  (selectedItem)  {
          $('#wordlevel').val(selectedItem);
      } else {  
          //console.log("hello");
          var dropVal = 4;
          sessionStorage.setItem("wordlevel", dropVal);
      }
        //console.log(selectedItem);
      
      $('#wordlevel').change(function() { 
         var dropVal = $(this).val();
         //console.log("The dropVal");
         //console.log(dropVal);
         sessionStorage.setItem("wordlevel", dropVal);     
      //});   

      //console.log('selectedItem');
      //console.log(dropVal);


      //var submit_form = function(e) {
      //$.getJSON($SCRIPT_ROOT + '/_submit_level', {
      //	 wordlevel: dropVal
      //  wordlevel: $('#wordlevel').val()
      //  wordlevel: $('input[name="a"]').val(),
      //}, function(data) {
        //console.log($('#result').text(data.result));
      //  $('#result').text(data.result);
      //  return true;
      //});
      //return false;
      //};
  
      //$('a#clicked_link').bind('click', submit_form);

      //$('#wordlevel').focus();

    });


});
</script>

<!--
<script type="text/javascript">
$(document).ready(function(){
    $('#result').change(function() { 
         var dropVal = $(this).attr('value');
         console.log('selectedItem');
         console.log(dropVal);

         var submit_form = function(e) {
         $.getJSON($SCRIPT_ROOT + '/_submit_level', {
            wordlevel: dropVal
         }, function(data) {
            $('#result').text(data.result);
            console.log(data.result);
        //console.log(txt);
         });
         return false;
      };
      $('#clicked_link').bind('click', submit_form);

    });

    });
</script>
-->
<!--
<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      var selectedItem = localStorage.getItem("wordlevel");  
      $('#wordlevel').val(selectedItem);
        //console.log(selectedItem);
      var dropVal = 4;
      $('#wordlevel').change(function() { 
      var dropVal = $(this).val();
        //console.log("The dropVal");
      //console.log(dropVal);
      localStorage.setItem("wordlevel", dropVal);     
      });

      console.log('selectedItem');
      console.log(dropVal);

      $.getJSON($SCRIPT_ROOT + '/_submit_level', {
        wordlevel: dropVal
      }, function(data) {
        $('#result').text(data.result);
        //console.log(txt);
      });
      return false;
    };

    $('a#calculate').bind('click', submit_form);

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });

  });
</script>
-->

<!--
<script>
$(document).ready(function(){
    $('#setting').click(function(){
        $('#settingitem').toggle();
        //$('#settingitem').show();
        //$('#textarea').show();
    });
    //$('#setting').click(function(){
        //$('#settingitem').toggle();
    //    $('#settingitem').hide();
    //    $('#textarea').hide();
    //});
});
</script>
-->

<script>
$(document).ready(function(){
    $('#wlevel').click(function(){
        //$('#wlevelitem').toggle();
        if($(this).text()=='+'){
           $('#wlevelitem').show();
           $(this).text('-');
        }else{
           $('#wlevelitem').hide();
           $(this).text('+');
        }
    });
});

$(document).ready(function(){
    $('#slevel').click(function(){
        //$('#slevelitem').toggle();
        if($(this).text()=='+'){
           $('#slevelitem').show();
           $(this).text('-');
        }else{
           $('#slevelitem').hide();
           $(this).text('+');
        }

    });
});
</script>


<script>
$(document).ready(function(){
    $('#rlevel').click(function(){
        document.getElementById("algs").disabled= true;

    });
});
</script>

<!--
<script>
$(document).ready(function(){
         
     $("#rlevel").click(function () {
        if ($("#algs #algs-0").is(':checked')) {
            $("#algs input[type=checkbox]").each(function () {
                console.log('true');
                $(this).attr("checked", false);
            });

            if($(this).text()=='Remove all'){
              $(this).text('Add all');
            }

        } else {
            $("#algs input[type=checkbox]").each(function () {
                console.log('false');
                $(this).attr("checked", true);
            });

            if($(this).text()=='Add all'){
              $(this).text('Remove all');
            }
        }
    });
});
</script>
-->

<script>
$(document).ready(function(){

	  //document.getElementById("wordlevel").disabled= true;
     // document.getElementById("words").disabled= true;

      //
      $('#wlevelitem').click(function() {
	  var selectedItem = $(this).find(":checked").val();

      //console.log("vocabulary option");
      //console.log(selectedItem);

      if (selectedItem*1 == 0) {
      	  //console.log("helloword0");
      	  document.getElementById("wordlevel").disabled= true;
          document.getElementById("words").disabled= true;
      } 
      if  (selectedItem*1 == 1) {
      	  //console.log("helloword1");
      	  document.getElementById("wordlevel").disabled= false;
          document.getElementById("words").disabled= false;
      }
  });

          document.getElementById("algs").disabled= true;
          var algsItems = document.getElementsByName('algs');
          //var algs_value;
          for(var i = 0; i < algsItems.length; i++){  
          	     //console.log(algsItems[i].value);
                 algsItems[i].disabled = true;
              
          }
          //document.getElementById("algs-0").disabled= true;
          //document.getElementById("algs-1").disabled= true;
          //document.getElementById("algs-2").disabled= true;
          //document.getElementById("algs-3").disabled= true;
          //document.getElementById("algs-4").disabled= true;
          //document.getElementById("algs-5").disabled= true;
          //document.getElementById("algs-6").disabled= true;
          //document.getElementById("algs-7").disabled= true;
          //document.getElementById("algs-8").disabled= true;
          //document.getElementById("algs-9").disabled= true;

      $('#slevelitem').click(function() {
	  var selectedItem = $(this).find(":checked").val();

      //console.log("vocabulary option");
      //console.log(selectedItem);

      if (selectedItem*1 == 0) {
      	  //console.log("helloword0");
      	  //document.getElementById("algschoice").disabled= true;
          document.getElementById("algs").disabled= true;
          for(var i = 0; i < algsItems.length; i++){  
          	     //console.log(algsItems[i].value);
                 algsItems[i].disabled = true;
              
          }
      } 
      if  (selectedItem*1 == 1) {
      	  //console.log("helloword1");
      	  //document.getElementById("algschoice").disabled= false;
          document.getElementById("algs").disabled= false;
          for(var i = 0; i < algsItems.length; i++){  
          	     //console.log(algsItems[i].value);
                 algsItems[i].disabled = false;
              
          }
      }
  });

});
</script>


<script>
// this keeps the checkbox choices
$(document).ready(function() {

  //document.getElementById("cselect1").checked = true;
  //document.getElementById("cselect2").checked = true;
  var clicked = false;
  var entry = {{entries|tojson}};
  console.log(entry);

  if (!entry.length){
  	   console.log("entry is empty");
  	   document.getElementById("cselect1").checked = true;
  	   document.getElementById("cselect2").checked = true;
  	   localStorage.setItem($('#cselect1').attr('id'), 1); 
  	   localStorage.setItem($('#cselect2').attr('id'), 1); 
  } 

  $('input[name="cselect"]').click( function() {
  	//window.clicked = true;
  	//console.log("Theclicked");
  	//console.log(window.clicked);

    var checkboxId = $(this).attr('id');
    console.log(checkboxId);
    if ($(this).is(":checked")) {
    	console.log("checked");
    	localStorage.setItem(checkboxId, 1);

    } else {
    	console.log("unchecked");
    	localStorage.removeItem(checkboxId);
    }
  });

  for (var i = 0, len = localStorage.length; i < len; i++) {
    var key = localStorage.key(i);
    var value = localStorage[key];
    if (value == 1) {
      $('#' + key).attr("checked", "checked");
    }
  }

});
</script>


<script>
$(document).ready(function(){
// this keeps the radio choices
$('input[type="radio"]').click(function() {
    setActiveBox($(this));            
});   

function setActiveBox($radioButton) {
    if(!($radioButton instanceof jQuery)) {
        $radioButton = $($radioButton);
    }
    
    var value = $radioButton.attr("value");
    //$(".box").hide();
    //$("." + value).show();
    saveData("activeRadio",value);    
}

function saveData(key,value) {
       localStorage.setItem(key,value) || (document.cookie = key + "=" + value);
}

function getData(key) {
    //return localStorage.getItem(key) || document.cookie.match(new RegExp(key + "\=(.+?)(?=;)"))[9];
    // to fix the bug
    return localStorage.getItem(key);
}

//check stored radioButton on page load
var $radioButton = $("[value=" + getData("activeRadio") + "]");
$($radioButton).attr("checked",true);
setActiveBox($radioButton);

});
</script>

<!--
<script>
$(document).ready(function(){
  $('#setting_').click(function(){
    
    if($(this).text()=='+'){
        $('#item').show();
        $(this).text('-');
    }else{
        $('#item').hide();
        $(this).text('+');
    }
  });
});
</script>
-->

<form action="{{ url_for('add_entry') }}" autocomplete="off" method="POST" class=add-entry ">
      <dl>
        <dt><small>Please enter a sentence to be simplified </small>:
        <dd><textarea name=input rows=5 cols=60 placeholder="Monica, running down the street, tripped.">{{ entries|safe}}</textarea> 
        <br/>
        <dd><input type=submit value=Simplify>
      </dl>

<ul class="entries" id="entry">
  {% if flag|length > 0 %}
  <li><em>ERROR: Please include at least one word in The wordlist.</em>
         <br/>
      <div>
        <button type="button" id="wlevel" >+</button> Vocabulary list
        <!--
        <hr/>
        -->
         <div class="params" id="wlevelitem" style="display:none;">
           <br/>
           <dt> <small>The Level:</small>  <select class="wordlevel" name=wordlevel id=wordlevel onchange="this.form.submit()">         
              <!--
              <option value="0">custom</option>
              -->   
              <option value="1">level 1</option>
              <option value="2">level 2</option>
              <option value="3">level 3</option>
              <option value="4" selected>level 4</option>
              <!--
              <option value="5" >All</option>
              -->
           </select> 
           <br/>
            <textarea name=words rows=6 cols=51 >{{ words|safe}}</textarea> 
         </div>
      </div>

      <br/>
      <div>
       <button type="button" id="slevel" >+</button> Sentence editing 
      <br/>
       <div id="slevelitem" style="display:none;">
          <br/>
          <dt> <small>The Selection:</small> <button type="button" id="rlevel" >Remove all</button> 
          <div id="algschoice">
               {{ form.algs }} 
          </div>
       </div>
      </div>


        </form> 
  {% else %}

  {% if entries %}
    <!--
     <li><h2>Input:</h2>
     <li>
     {{ entries }}
     </li>
     -->

     <!--
     {% if wordlist %}
     <li><h2>The wordlist:</h2>
     <li>
     {{ wordlist }}
     </li>   
     {% endif %}
     -->

  <li><h2>Output:<h2></li>
  {% set counter = ['1'] %}
  
  {% if s1_child_output|length > 0 %} {# there is the child #}
  <li id="reverse-{{counter|length}}" contenteditable="true" 
  draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)">
   {% for item in s1_child_output %}  
        {% if item is mapping %} {# not change #}
   
          {% for key, value in item.iteritems() %}
            {% if value|length == 1 %}
                {% if sdefinition|length > 0 %}
                   {% for skey, svalue in sdefinition.iteritems() %}
                         {% if skey == key %}
                           <span class="tooltip"><b>{{ key |safe }}</b> 
                             <span class="tooltiptext">{{ svalue |safe}}</span>
                           </span>
                         {% endif %} 
                  {% endfor %}
                {% endif %}
            {% else %}
                <select>
                  {% for v in value %}
                     <option value={{ v }} >{{ v |safe}} </option>
                  {% endfor %}
                </select>
            {% endif %}
          {% endfor %}

        {% else %}
           {{ item |safe }}

           {% if item == "." %}  {# is a sentence? #}
               
               {% if counter|length == 2 %}
                   <input type='button' id="undo-{{counter|length}}" value='Merge'/>
               {% endif %}
                
               {% if counter.append('1') %}
               {% endif %}
                 
               <br></li>    
                {% if counter|length < 3 %}
                    
                    <li id="reverse-{{counter|length}}" contenteditable="true" 
                    draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)"> 
                {% endif %} 

           {% endif %}
              
        {% endif %}  

   {% endfor %}  
   </li>

  {% else %}  {# no children, but we can make sure that there is S2  #}
 <li id="reverse-{{counter|length}}" contenteditable="true" 
 draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)">
      {% for item in s1_output %}     
        {% if item is mapping %} {# not change #}
   
          {% for key, value in item.iteritems() %}
           {% if value|length == 1 %}
                {% if sdefinition|length > 0 %}
                   {% for skey, svalue in sdefinition.iteritems() %}
                         {% if skey == key %}
                           <span class="tooltip"><b>{{ key |safe }}</b> 
                             <span class="tooltiptext">{{ svalue |safe}}</span>
                           </span>
                         {% endif %} 
                       {% endfor %}
                {% endif %}
            {% else %}
               <select>
              {% for v in value %}
                 <option value={{ v }} >{{ v |safe}} </option>
              {% endfor %}
               </select>
            {% endif %}
         
          {% endfor %}

        {% else %}
           {{ item |safe }}

           {% if item == "." %}  {# is a sentence? #}
               {% if counter|length == 2 %}
               <input type='button' id="undo-{{counter|length}}" value='Merge'/>
               {% endif %}

               {% if counter.append('1') %}
               {% endif %}
              
           {% endif %}
              
        {% endif %}
   {% endfor %} 
  </li>
  {% endif %}


  {% set cnt = 5 %}
  {% if s2_child_output|length > 0 %} {# there is the child in S2 #}
  <li id="reverse-{{cnt}}" contenteditable="true" 
  draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)">
   {% for item in s2_child_output %}  
        {% if item is mapping %} {# not change #}
          {% for key, value in item.iteritems() %}
            {% if value|length == 1 %}
                {% if sdefinition|length > 0 %}
                       {% for skey, svalue in sdefinition.iteritems() %}
                         {% if skey == key %}
                           <span class="tooltip"><b>{{ key |safe }}</b> 
                             <span class="tooltiptext">{{ svalue |safe}}</span>
                           </span>
                         {% endif %} 
                       {% endfor %}

                {% endif %}
            {% else %}
              <select>
              {% for v in value %}
                 <option value={{ v }} >{{ v |safe}} </option>
              {% endfor %}
             </select>
            {% endif %}
         
          {% endfor %}

        {% else %}
           {{ item |safe }}

           {% if item == "." %}  {# is a sentence? #}
               
               {% if cnt|int == 6 %}
                   <input type='button' id="undo-{{cnt}}" value='Merge'/>
               {% endif %}
                
               {% set cnt = cnt + 1 %}
                 
               <br></li>    
                {% if cnt|int < 7 %}
                    <li id="reverse-{{cnt}}" contenteditable="true"  
                    draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)" > 
                {% endif %} 

           {% endif %}
              
        {% endif %}  

   {% endfor %}  
   </li>

 {% else %}  {# no children in S2  #}
 <li id="reverse-{{cnt}}" contenteditable="true"  
 draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)">
      {% for item in s2_output %}   
         
        {% if item is mapping %} {# not change #}
   
          {% for key, value in item.iteritems() %}
            {% if value|length == 1 %}
                {% if sdefinition|length > 0 %}
                   {% for skey, svalue in sdefinition.iteritems() %}
                         {% if skey == key %}
                           <span class="tooltip"><b>{{ key |safe }}</b> 
                             <span class="tooltiptext">{{ svalue |safe}}</span>
                           </span>
                         {% endif %} 
                       {% endfor %}
                {% endif %}
            {% else %}
               <select>
              {% for v in value %}
                 <option value={{ v }} >{{ v |safe}} </option>
              {% endfor %}
              </select>
            {% endif %}
         
          {% endfor %}

        {% else %}
           {{ item |safe }}

           {% if item == "." %}  {# is a sentence? #}
               
               <input type='button' id="undo-{{cnt}}" value='Merge'/>
              
           {% endif %}
              
        {% endif %}
   {% endfor %} 
  </li>

  {% if s1_output|length == 0  %}
    {% if s2_output|length == 0  %}
    <li>
        {% for item in s_outputs %} 
        {% if item is mapping %} {# not change #}
   
          {% for key, value in item.iteritems() %}
            {% if value|length == 1 %}  
                {% if sdefinition|length > 0 %}
                   {% for skey, svalue in sdefinition.iteritems() %}
                         {% if skey == key %}
                           <span class="tooltip"><b>{{ key |safe }}</b> 
                             <span class="tooltiptext">{{ svalue |safe}}</span>
                           </span>
                         {% endif %} 
                       {% endfor %}
                {% endif %}
           
            {% else %}
               <select>
              {% for v in value %}
                 <option value={{ v }} >{{ v |safe}} </option>
              {% endfor %}
               </select>
            {% endif %}
         
          {% endfor %}

        {% else %}
           {{ item |safe }}
              
        {% endif %}

        {% endfor %} 
    </li>
    {% endif %}
  {% endif %}

{% endif %}
 
{% endif %}
  
    <br/>
    <br/>
    <br/>
    <!--
    </form action="{{ url_for('setting') }}" method=post >
      <div class ="dropdown">        
        <button onclick="myFunction()" class="dropbtn">Setting</button> 
    --> 
    <!--
     <div>    
        <button type="button" id="show">Show</button>
        <button type="button" id="hide">Hide</button>
        
     </div>
     -->
       <!--
       <div>
           <button id="show">Show</button>
           <button id="hide">Hide</button>
       </div>
       -->
      <div class="mycheck">
        <input type="checkbox" name="cselect" id="cselect1" style="height:15px; width:20px;" value="1"> Simplify the vocabulary
        <button type="button" id="wlevel" >+</button> 
        <!--
        <hr/>
        -->
         <div class="params" id="wlevelitem" style="display:none;">
           <br/>
           <input type="radio" style="height:12px; width:12px;" name="vocabulary" value="0" checked>
           <small>The system will use the <b>Secondary 6</b> vocabulary list from the <a href ="http://cd1.edb.hkedcity.net/cd/eng/vocab09/appendix_1_content.htm" target="_blank">Hong Kong Education Bureau</a> </small>
           <br/>
           <br/>
           <input type="radio" style="height:12px; width:12px;" name="vocabulary" value="1">
           <small>Please enter a list of known vocabulary.  The system will attempt to simplify all words outside this list. 
           <br/>
           <br/>
           <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Use the </small>
            <select class="wordlevel" name=wordlevel id=wordlevel onchange="this.form.submit()">         
              <!--
              <option value="0">custom</option>
              -->   
              <option value="5">OGDEN's BASIC ENGLISH</option>
              <option value="1">Primary 3</option>
              <option value="2">Primary 6</option>
              <option value="3">Secondary 3</option>
              <option value="4" selected>Secondary 6</option>
              <option value="6">CET-4</option>
              <option value="7">CET-6</option>
              <!--
              <option value="5" >All</option>
              -->
           </select> 
           <small> vocabulary list (<small>"Primary 3", "Primary 6", "Secondary 3", and "Secondary 6" lists are from <a href ="http://cd1.edb.hkedcity.net/cd/eng/vocab09/appendix_1_content.htm" target="_blank">Hong Kong Education Bureau</a>; "CET-4" and "CET-6" lists are from <a href="https://en.wikipedia.org/wiki/College_English_Test" target"_blank">National English level test in the People's Republic of China</a>; "OGDEN's BASIC ENGLISH" is from <a href ="http://ogden.basic-english.org/words.html" target="_blank">OGDEN's BASIC ENGLISH</a></small>)</small>
           <br/>
            <textarea name=words id=words rows=6 cols=51 >{{ words|safe}}</textarea> 
         </div>
      </div>

      <br/>
      <div>
      <input type="checkbox" name="cselect" id="cselect2" style="height:15px; width:20px;" value="2" > Simplify sentence structures
       <button type="button" id="slevel" >+</button> 
      <br/>
       <div id="slevelitem" style="display:none;">
          <br/>
          <input type="radio" style="height:12px; width:12px;"  name="sentence" value="0" checked>
          <small>Simplify all complex structures as follows</small>
          <br/>
          <input type="radio" style="height:12px; width:12px;"  name="sentence" value="1">
          <small>Simplify selected structures only:</small> <!--<button type="button" id="rlevel" >Remove all</button> -->
          <div id="algschoice">
               {{ form.algs }} 
          </div>
       </div>
      </div>

      </form> 
  {% endif %}
</ul>

{% include 'merge.html' %}
<!--
{% include 'footer.html' %}
-->

{% endblock %}
