{% extends "layout.html" %}
{% block body %}

<script type=text/javascript>
$(function() {
  document.getElementById('merge-s').style.visibility = "hidden";

  $('#undo-5').click(function(){  // s2 doesn't have the children
    //var _lastSent = document.getElementById("reverse-3").innerHTML;
    //var lastSent = _lastSent.replace(/^\s*<br\s*\/?>|<br\s*\/?>\s*$/g,'');
    //console.log(lastSent)
    //var merge4 = lastSent + document.getElementById("reverse-4").innerHTML;

    var merge6 = document.getElementById('merge-s').innerHTML; 
    //console.log(merge4)
    document.getElementById("reverse-5").innerHTML = merge6;

    //document.getElementById('undo-4').style.visibility='hidden';
    $('#reverse-1').remove();  // remove s1
    $('#undo-5').remove();
  });  

  if (localStorage.getItem("words")) {
     document.getElementById("wordinput").value = localStorage.getItem("words");
  }
  $('#wordinput').change(function() { 
    var words = document.getElementById("wordinput").value;
    //console.log(words)
    localStorage.setItem("words", words);
    //alert("Your words has been saved!");
    //}
    //location.reload();
  });

  var selectedItem = localStorage.getItem("SelectedItem");  
  $('#wordlevel').val(selectedItem);
  //console.log(selectedItem);
  if (selectedItem == null){
      var dropVal = "4";
      localStorage.setItem("SelectedItem", dropVal);
      //console.log(selectedItem);
   } else {
  $('#wordlevel').change(function() { 
    var dropVal = $(this).val();
    localStorage.setItem("SelectedItem", dropVal);
  });
   }

   $('#algs').change(function() {
      localStorage.setItem(this.id, this.value);
   }).val(function() {
      return localStorage.getItem(this.id)
   });

});
</script>

<!--
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
</script>
-->

{% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" autocomplete=off method=post >
      <dl>
        <dt>Input:
        <dd><textarea name=input rows=4 cols=60></textarea> 
        <br/>
        <dd><input type=submit value=Simplify>
      </dl>
    
<ul class="entries" id="entry">
  {% if entries %}
     <li><h2>Input:</h2>
     <li>
     {{ entries }}
     </li>

     <!--
     {% if wordlist %}
     <li><h2>The wordlist:</h2>
     <li>
     {{ wordlist }}
     </li>   
     {% endif %}
     -->

  <li><h2>Output:<h2></li>
  {% set counter = ['1'] %}
{% if s1_output|length > 0 %} {# there is the child #}
 <li id="reverse-{{counter|length}}" contenteditable="true" 
 draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)">
      {% for item in s1_output %}     
        {% if item is mapping %} {# not change #}
   
          {% for key, value in item.iteritems() %}
            {% if value|length == 1 %}
                <u>{{ key |safe }}</u>
            {% else %}
            <select>  
              {% for v in value %}
                 <option value={{ v }} >{{ v |safe}} </option>
              {% endfor %}         
            </select>
            {% endif %}
          {% endfor %}

        {% else %}
           {{ item |safe }}
              
        {% endif %}
   {% endfor %} 
</li>
{% endif %}


{% set cnt = 5 %}
{% if s2_output|length > 0 %}
 <li id="reverse-{{cnt}}" contenteditable="true"  
 draggable="true" ondragenter="dragenter(event)" ondragstart="dragstart(event)">
      {% for item in s2_output %}   
         
        {% if item is mapping %} {# not change #}
   
          {% for key, value in item.iteritems() %}     
            {% if value|length > 1 %}
            <select>
              {% for v in value %}
                 <option value={{ v }} >{{ v |safe}} </option>
              {% endfor %}
            </select>
            {% else %}
              <u>{{ key |safe }}</u>
            {% endif %}
          {% endfor %}

        {% else %}
           {{ item |safe }}

           {% if item == "." %}  {# is a sentence? #}         
               <input type='button' id="undo-{{cnt}}" value='Merge'/>            
           {% endif %}
              
        {% endif %}
   {% endfor %} 
</li>
{% endif %}


{% if s1_output|length == 0  %}
    {% if s2_output|length == 0  %}
    <li>
        {% for item in s_outputs %} 
        {% if item is mapping %} {# not change #}
   
          {% for key, value in item.iteritems() %}
            <select>
              {% for v in value %}
                 <option value={{ v }} >{{ v |safe}} </option>
              {% endfor %}
            </select>
         
          {% endfor %}

        {% else %}
           {{ item |safe }}
              
        {% endif %}

        {% endfor %} 
    </li>
    {% endif %}
{% endif %}

    <br/>
    <br/>
    <br/>
    <br/>
    <!--
    </form action="{{ url_for('setting') }}" method=post >
      <div class ="dropdown">        
        <button onclick="myFunction()" class="dropbtn">Setting</button> 
    --> 
        <hr/>
        <div class="selection">
           <dt>The wordlist:
           <input type="text" name=wordinput id=wordinput value=""/>
           <br/> 
           <dt>{{ form.wordlevel.label }}  
           <dd> {{ form.wordlevel }} 
           <br/> 
           <dt>{{ form.algs.label }}    
           <dd>{{ form.algs }} 
        </div>

        </form> 
  {% else %}
     <li><em>No output here so far</em>
  {% endif %}

</ul>

{% endif %}

{% include 'merge.html' %}
{% include 'footer.html' %}

{% endblock %}
