{% extends "layout.html" %}
{% block body %}

<script type=text/javascript>
$(function() {

  //var lastInput = {{ entries | tojson }};
  //var merge = document.getElementById('merge').innerHTML;
  //document.getElementById('merge').style.visibility = "hidden";

  $('#undo-2').click(function(){
  	var _lastSent = document.getElementById("reverse-1").innerHTML;
  	var lastSent = _lastSent.replace(/^\s*<br\s*\/?>|<br\s*\/?>\s*$/g,'');
  	//console.log(lastSent)
  	var merge2 = lastSent + document.getElementById("reverse-2").innerHTML;
  	//console.log(merge2)
  	//document.getElementById("reverse-1").innerHTML = '';
  	$('#reverse-1').remove();
    document.getElementById("reverse-2").innerHTML = merge2;

    //document.getElementById('undo-2').style.visibility='hidden';
    $('#undo-2').remove();

  });

  $('#undo-3').click(function(){
  	var _lastSent = document.getElementById("reverse-2").innerHTML;
  	var lastSent = _lastSent.replace(/^\s*<br\s*\/?>|<br\s*\/?>\s*$/g,'');
  	//console.log(lastSent)
  	var merge3 = lastSent + document.getElementById("reverse-3").innerHTML;
  	//document.getElementById("reverse-2").innerHTML = '';
  	$('#reverse-2').remove();
    document.getElementById("reverse-3").innerHTML = merge3;

    //document.getElementById('undo-3').style.visibility='hidden';
    $('#undo-2').remove();
    $('#undo-3').remove();
  });

  $('#undo-4').click(function(){
  	var _lastSent = document.getElementById("reverse-3").innerHTML;
  	var lastSent = _lastSent.replace(/^\s*<br\s*\/?>|<br\s*\/?>\s*$/g,'');
  	//console.log(lastSent)
  	var merge4 = lastSent + document.getElementById("reverse-4").innerHTML;
  	//document.getElementById("reverse-3").innerHTML = '';
  	$('#reverse-3').remove();
    document.getElementById("reverse-4").innerHTML = merge4;

    //document.getElementById('undo-4').style.visibility='hidden';
    $('#undo-3').remove();
    $('#undo-4').remove();
  });  
  
  $('#undo-5').click(function(){
    var _lastSent = document.getElementById("reverse-4").innerHTML;
    var lastSent = _lastSent.replace(/^\s*<br\s*\/?>|<br\s*\/?>\s*$/g,'');
    //console.log(lastSent)
    var merge4 = lastSent + document.getElementById("reverse-5").innerHTML;
    //document.getElementById("reverse-3").innerHTML = '';
    $('#reverse-4').remove();
    document.getElementById("reverse-5").innerHTML = merge4;

    //document.getElementById('undo-4').style.visibility='hidden';
    $('#undo-5').remove();
  });

  $('#undo-6').click(function(){
    var _lastSent = document.getElementById("reverse-5").innerHTML;
    var lastSent = _lastSent.replace(/^\s*<br\s*\/?>|<br\s*\/?>\s*$/g,'');
    //console.log(lastSent)
    var merge4 = lastSent + document.getElementById("reverse-6").innerHTML;
    //document.getElementById("reverse-3").innerHTML = '';
    $('#reverse-5').remove();
    document.getElementById("reverse-6").innerHTML = merge4;

    //document.getElementById('undo-4').style.visibility='hidden';
    $('#undo-5').remove();
    $('#undo-6').remove();
  });

});
</script>

{% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Input:
        <dd><textarea name=input rows=6 cols=70></textarea>
        {#       
        <dt>Output:
        <dd><textarea name=output rows=5 cols=60></textarea>
        #}
        <dd><input type=submit value=Simplify>
      </dl>

    </form>

<ul class="entries">
  {% if entries %}
     <li><h2>Input:</h2>
     <li>
     {{ entries }}
     </li>
  {% else %}
     <li><em>No output here so far</em>
  {% endif %}

  <li><h2>Output:<h2></li>
  {% set counter = ['1'] %}
  <li id="reverse-1" contenteditable="true">
   {% for item in outputs %} 
        {% if item is mapping %} {# not change #}
   
          {% for key, value in item.iteritems() %}
            <select>
              {% for v in value %}
                 <option value={{ v }} >{{ v |safe}} </option>
              {% endfor %}
            </select>
         
          {% endfor %}

        {% else %}
           {{ item |safe }}

           {% if item == "." %}  {# is a sentence? #}
               
               {% if counter|length is not equalto 1 %}
                   <input type='button' id="undo-{{counter|length}}" value='Merge'/>
               {% endif %}

               {% if counter.append('1') %}
               {% endif %}
     
               <br></li><li id="reverse-{{counter|length}}" contenteditable="true">
               
           {% endif %}
              
        {% endif %}

   {% endfor %}  
   </li>

</ul>

{% endif %}
{#
{% include 'merge.html' %}
#}
{% include 'footer.html' %}

{% endblock %}
